{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}
    {#<style>#}
        {#.thumb img {#}
            {#-webkit-filter: grayscale(0);#}
            {#filter: none;#}
            {#border-radius: 5px;#}
            {#background-color: #fff;#}
            {#border: 1px solid #ddd;#}
            {#padding: 5px;#}
        {#}#}

        {#.thumb img:hover {#}
            {#-webkit-filter: grayscale(1);#}
            {#filter: grayscale(1);#}
        {#}#}

        {#.thumb {#}
            {#padding: 5px;#}
        {#}#}
    {#</style>#}
{% block body %}
<body>

<div class="container">
    <h1 class="h2 text-center">Gallery</h1>
    <div class="row">

                {% for post in posts %}
                    {#<tr>#}

                        {#<div class="col-lg-3 col-md-4 col-xs-6 thumb">#}
                            {#<a class="thumbnail">#}
                                {#<img src="{{ asset("albums/" ~ post.filepath ~ post.filename) }}" width="200" height="100" alt=""/>#}
                            {#</a>#}
                        {#</div>#}
                    {#</tr>#}
                        <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                            <a class="thumbnail" data-fancybox="gallery" href="{{ asset("http://symfony.local/gallery/albums/" ~ post.filepath ~ post.filename) }}">
                                <img  class="img-responsive" src="{{ asset("http://symfony.local/gallery/albums/" ~ post.filepath ~ post.filename) }}" alt="">
                            </a>
                        </div>

                {% endfor %}
    </div>
</div>



    </div>
</div>
{% endblock %}
