{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}
    {#<style>#}
        {#.thumb img {#}
            {#-webkit-filter: grayscale(0);#}
            {#filter: none;#}
            {#border-radius: 5px;#}
            {#background-color: #fff;#}
            {#border: 1px solid #ddd;#}
            {#padding: 5px;#}
        {#}#}

        {#.thumb img:hover {#}
            {#-webkit-filter: grayscale(1);#}
            {#filter: grayscale(1);#}
        {#}#}

        {#.thumb {#}
            {#padding: 5px;#}
        {#}#}
    {#</style>#}
{% block body %}
<body>

<div class="container">
    <h1 class="h2 text-center">Gallery</h1>
    <div class="row">

        {% for post in posts %}

        {% endfor %}
    </div>
</div>
{% endblock %}
